*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	
}

html {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

.img-full-fluid {
	width: 100%;
	height: auto;
}