<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="/">INTRANET</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
           
           
           
            <!--li class="active text-primary">
            <a href="#"></a>
            </li-->
             <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">RRHH<strong class="caret"></strong></a>
               <ul class="dropdown-menu">
                <li><a href="<?php echo $URLadmin ?>Empleado/Lista.php?Limit=0&CantEmpPantalla=5&TipoEmpleado=">Empleados</a></li>
               
                <li class="divider"></li>
                
                <li><a href="<?php echo $URLadmin ?>Empleado/Archivos_txt.php?ArchivoDe=Nomina">Nomina de Pago</a>
         		<li><a href="<?php echo $URLadmin ?>Empleado/Archivos_txt.php?ArchivoDe=Pago_extra">Pago Extra</a>
         		<li><a href="<?php echo $URLadmin ?>Empleado/Archivos_txt.php?ArchivoDe=Pago_extra2">Pago Extra2</a>
                <li><a href="<?php echo $URLadmin ?>Empleado/Archivos_txt.php?ArchivoDe=Pago_extra_dolares">Pago Dolares</a>
                <li><a href="<?php echo $URLadmin ?>Empleado/Asistencia_General.php">Asistencia_General</a>
                                      
               </ul>
            </li>
            
            
            
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Caja<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<?php echo $URLadmin ?>Cobranza/Pagos_Conciliar.php">Concilia Pagos</a>
                  </li>
                <li><a href="<?php echo $URLadmin ?>Contabilidad/Sube_Arch_Banco.php">Carga Banco</a></li>
                <li class="divider"></li>
                <li>
                  <a href="<?php echo $URLadmin ?>Contabilidad/Asignaciones.php">Asignaciones</a></li>
                <li><a href="<?php echo $URLadmin ?>Variables_Sistema.php">Variables</a></li>
                </ul>
            </li>
            
            
            
            
            
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<?php echo $URLadmin ?>Academico/Curso_Materias.php">Curso_Materias</a>
                </li>
               
              
               
              </ul>
           </li>
           
           
           
           
           
           
           
           
           
           
           
           
        </ul>
        <form class="navbar-form navbar-right" role="search" method="post" action="">
            <div class="form-group">
                <input type="text" class="form-control" name="Buscar">
            </div> 
            <button type="submit" class="btn btn-default">
                Buscar
            </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href=""><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
            </li><li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?= $MM_Username; ?>  <strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="http://www.colegiosanfrancisco.com/LogOut.php">Salir</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p><p>&nbsp;</p>
    </div>
</div>